<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD in NodeJS</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div id="titulo">
        <h1>Candidatos</h1>
    </div>
    
    <section id="table">
        <h2>Registros<h2>   
        <table border="1">
        <thead>    
            <tr>
                <th scope="col" class="input-text-titulo">Nome</th>
                <th scope="col" class="input-text-titulo">Sobrenome</th>
                <th scope="col" class="input-text-titulo">Ação</th>
            </tr>
        </thead>
            <tbody>
            <% data.forEach(function(details) { %>
                <tr>
                    <td class="input-text"><%= details.name %></td>
                    <td class="input-text"><%= details.surname %></td>
                    <td class="input-text"><a href="/edit/<%= details._id %>" class="editando">Editar</a> - <a href="/delete/<%= details._id %>" class="deletando">Deletar</a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
            <button class="input-btn"><a href="/">Novo</a></button>
    </section>
</body>
</html>